:root {
  --red: #cd0000;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
}

/* Icon 2 */

/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 18px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  /* Icon 2 */
  
  #nav-icon2 {
      margin: 0px;
    transform: scale(0.6);
  }
  
  #nav-icon2 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    background: #ffffff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }
  
  #nav-icon2 span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
  }
  
  #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
    top: 0px;
  }
  
  #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
    top: 18px;
  }
  
  #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
    top: 36px;
  }
  
  #nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }
  
  #nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }
  
  #nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  
  #nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  
  #nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 29px;
  }
  
  #nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }
  

/* Header */
.header__region {
  display: flex;
  position: relative;
  background-color: #e6e6e6;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  z-index:3;
}
.header__region ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}
.header__region li {
  padding: 4.8px 8px 4.8px 8px;
  font-size: 11.2px;
}

.header__region ul li::after {
  content: " |";
  font-size: 10px;
  padding: 0 0 0 8px;
}

.header__logo-container {
  background: var(--red);
  display: grid;
  place-items: center;
  height: 98px;
position: relative;
z-index:3;
}

.header__burger {
  fill: #fff;

  position: relative;
}

.header__logo {
  width: 298px;
  fill: #fff;
}
/* MENU DESPLEGABLE */
.unCollapse {
    
  transform: translateY(0%) !important;
  overflow: hidden;



}
.header__burger-menu {
  position: absolute;
  width: 500px;
  transform: translateY(-100%);
  border-bottom: solid 2px #cd0000;
  background-color: #242424;
  color: #cdcdcd;
  top: 123px;
  left: 381px;
  transition: all 0.25s;
 z-index: 2;
}
.header__burger-menu svg {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 16px;
  height: 16px;
}
.header__burger-menu input {
  width: 100%;
  background-color: #333;
  border: 0;
  color: #fff;
  padding: 0.45rem 0 0.45rem 3rem;
  box-sizing: border-box;
}
.header__burger-menu-item button {
  color: #fff;
  border-radius: 0;
  padding: 0.3rem 1.4rem;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  font-weight: bolder;
  background-color: #242424;
  border: 1px solid rgba(255, 255, 255, 0.233);
}
.header__burger-menu-item button::after {
  content: "+";
  color: #cd0000;
  float: right;
}
.header__burger-menu-socials {
  display: flex;
  margin-top: 8px;
  padding: 16px 16px 0;
}
.header__burger-menu-socials span {
  margin-right: 0.4rem;
  font-size: 12.8px;
}
.socials-fb,
.socials-yt,
.socials-tw,
.socials-in,
.socials-ig,
.socials-tg,
.socials-rss {
  width: 28px;
  height: 28px;
  display: inline-block;
  background: transparent no-repeat center center;
  margin-right: 0.3rem;
}
.socials-fb {
  background-image: url(../svg/icons.svg#facebook-view);
}
.socials-yt {
  background-image: url(../svg/icons.svg#youtube-view);
}
.socials-tw {
  background-image: url(../svg/icons.svg#twitter-view);
}
.socials-in {
  background-image: url(../svg/icons.svg#linkedin-view);
}
.socials-ig {
  background-image: url(../svg/icons.svg#instagram-view);
}
.socials-tg {
  background-image: url(../svg/icons.svg#telegram-view);
}
.socials-rss {
  background-image: url(../svg/icons.svg#rss-view);
}

.header__burguer-menu-contact {
  padding: 16px 16px;
}
.header__burguer-menu-contact-publicity {
  border-right: solid 1px #d6807f;
  padding-right: 0.8rem;
  margin-right: 0.5rem;
}
.header__burguer-menu-contact-contact {
  padding-left: 0.8rem;
}
/* Subscribe */
.header__subscribe {
  display: flex;
  gap: 8px;
}
.subscribe__icon a {
  display: flex;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.subscribe__icon a svg {
  width: 25px;
}
.subscribe__button button {
  height: 100%;
  background-color: #ffc700;
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: bold;
}

/* scroller */
.scroller {
  width: 100%;
  height: 4px;
}
.scroller__progress {
  width: 5%;
  height: 100%;
  background: var(--red);
  filter: brightness(75%);
}

/* Quick acces */
.header__quick-acces {
  display: grid;
  max-height: 2.4rem;
  place-items: center;
  border-bottom: solid 2px #ccc;
  background-color: #e6e6e6;
  fill: #444;
  color: #323232;
  font-style: "Roboto Condensed";
  font-weight: 700;
  font-size: 15.36px;
}
.header__quick-acces-element {
  display: flex;
}
.header__quick-acces-element svg {
}

/* Banner ad */
.banner-ad {
  display: grid;
  place-items: center;
}
.banner-ad-left img,
.banner-ad-right img {
  width: 20vw;
  
}
.banner-ad-left {
  position: absolute;
  top: 184px;
  left: 0;
  z-index: -1;
}
.banner-ad-right {
  position: absolute;
  top: 184px;
  right: 0;
}

/* main */
.main__article {
  margin: 0 16px;
}
.main__article-img img {
  max-width: 100%;
  height: auto;
}
.main__article-link-categoria {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1.1rem;
  margin-bottom: 0.1rem;
}
.main__article-title {
  font-size: 39.04px;
  font-weight: 900;
  line-height: 1.1em;
}
.main__article-intro {
  font-family: "Georgia";
  font-size: 1rem;
}
.main__article-author {
  color: #555;
  font-size: 0.9rem;
  font-weight: 500;
}
.vertical-ad {
  right: 0;
  margin: 0 auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* Mini-Featured */
.mini-featured {
  padding: 15px;
}
.mini-featured__img img {
  max-width: 100%;
  height: auto;
}
.mini-featured__title {
  font-size: 1.1rem;
  font-weight: 700;
}
.mini-featured {
}

/* Featured */
.featured-element {
  border: 15px solid white;
  box-sizing: border-box;
}
.featured-element.red {
  background-color: #cd0000;
  color: white;
}
.featured__category.red {
  padding: 0 8px;
}
.featured__title.red {
  padding: 0 8px;
}
.featured__author.red {
  padding: 0 8px;
}

.featured__img img {
  max-width: 100%;
}
.featured__category {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1.1rem;
  margin-bottom: 0.1rem;
  opacity: 0.9;
}
.featured__title {
  font-size: 21.6px;
  font-weight: 900;
}
.featured__author {
  font-size: 85%;
  font-weight: 500;
  opacity: 0.9;
}
/* Bootstrap base 10 */
.row {
  width: 100%;
  display: flex;
}
.container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0.2rem;
}
.center {
  margin: auto;
}

.col-6 {
  width: 60%;
}
.col-5 {
  width: 50%;
}
.col-4 {
  width: 40%;
}
.col-3 {
  width: 30%;
}
.col-25 {
  width: 25%;
}

.background-filter.apply{
    position: absolute;
    top: 169px;
    backdrop-filter: blur(2px);
    background: #060606a6;
    width: 100%;
    height: 180%;
}