:root{
    --red: #cd0000;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}

.btn{
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.2rem 0.5rem;
}

/* Header */
.header__region {
  display: flex;
  background-color: #e6e6e6;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.header__region ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}
.header__region li {
  padding: 4.8px 8px 4.8px 8px;
  font-size: 11.2px;
}

.header__region ul li::after {
  content: " |";
  font-size: 10px;
  padding: 0 0 0 8px;
}

.header__logo-container{
    background: var(--red);
    display: grid;
  place-items: center;
}


.header__burger{
    fill: #fff;
 
    position: relative;
}
/* MENU DESPLEGABLE */
.header__burger-menu{
    position: absolute;
    width: 500px;
    height: 400px;
    z-index: 1030;
    border-bottom: solid 2px #cd0000;
    background-color: #242424;
    
    color: #cdcdcd;
    top: 57px;
}
.header__burger-menu svg{
    position: absolute;
    top: 10px;
    left: 20px;
width: 16px;
height: 16px;
}
.header__burger-menu input{
    width: 100%;
    background-color: #333;
    border: 0;
    color: #fff;
    padding: 0.45rem 0 0.45rem 3rem;
    box-sizing: border-box;
}
.header__burger-menu-item button{
    color: #fff;
    border-radius: 0;
    padding: 0.3rem 1.4rem;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    font-weight: bolder;
    background-color: #242424;
    border: 1px solid rgba(255, 255, 255, 0.233);
}








.header__logo{
    width: 153px;
    fill: #fff;
}
/* Subscribe */
.header__subscribe{
    display: flex;
    gap:8px;
}
.subscribe__icon a{
    display: flex;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
  
}
.subscribe__icon a svg{
   width: 25px;
}
.subscribe__button button{
    height: 100%;
    background-color: #ffc700;
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: bold;
}

/* scroller */
.scroller{
    width: 100%;
    height: 4px;

}
.scroller__progress{
    width: 5%;
    height: 100%;
    background: var(--red);
    filter: brightness(75%);
    
}

/* Quick acces */
.header__quick-acces{
    display: grid;
    max-height: 2.4rem;
    place-items: center;
    border-bottom: solid 2px #ccc;
    background-color: #e6e6e6;
    fill: #444;
    color: #323232;
    font-style: 'Roboto Condensed';
    font-weight: 700;
    font-size: 15.36px;
}
.header__quick-acces-element{
    display: flex;
}
.header__quick-acces-element svg{
  
}

/* Banner ad */
.banner-ad{
    display: grid;
    place-items: center;
}

/* main */
.main__article{
    
    margin: 0 16px ;
}
.main__article-img img{
max-width: 100%;
height: auto;
}
.main__article-link-categoria{
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: 500;
    line-height: 1.1rem;
    margin-bottom: 0.1rem;
}
.main__article-title{
    font-size: 39.04px;
    font-weight: 900;
    line-height: 1.1em;
}
.main__article-intro{
    font-family: 'Georgia';
    font-size: 1rem;
}
.main__article-author{
    color: #555;
    font-size: 0.9rem;
  font-weight: 500;
}
.vertical-ad{
   margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* Featured */
.featured-element{
  
  padding: 15px;
  box-sizing: border-box;
}
.featured__img img{
max-width: 100%;
}
.featured__title{

}
/* Bootstrap base 10 */
.row{
    width: 100%;
    display: flex;
}
.container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0.2rem;
}
.center{
    margin: auto;
}

.col-6{
    width: 60%;
}
.col-5{
    width: 50%;
}
.col-4{
    width: 40%;
}
.col-3{
    width:30%;
}
.col-2{
    width: 20%;
}

